ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
}
li{
    float: left;

}
li a button{
    display: block;
  color:red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "monserrat", sans-serif;
}
button :hover{
    color: red;
}

button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
 }

li{
    font-size: 25px;
    font-family: sans-serif;
    
}
header{
    padding-bottom: 80px;
    font-size: 50px;
    text-align: center;
}

body{
    background-image: url('whitebg.jpg');
    background-size: cover;
}
.navbarr{
display: flex;
justify-content: space-between;
}
p{
    font-family: "monserrat", sans-serif;
    font-size: 30px;
}
h1{
    font-family: "Roboto Condensed", sans-serif;
}